@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --new-color: hsl(210deg, 8%, 74%) !important;
  --new-hover-color: hsl(210deg, 8%, 70%) !important;
  --new-hover-color-2: hsl(210deg, 8%, 90%) !important;
  --bg-2: #f8f9fa;
  --main-darker: #dee2e6;
  --hover-border-shadow: 0 0 0 0.2rem var(--bg-2),
    0 0 0 0.3rem var(--new-hover-color-2);
}

/* .show.modal .modal-dialog {
  margin-top: 50vh;
  transform: translateY(-50%);
} */

a {
  text-decoration: none;
}

body {
  font-family: "Roboto Mono", monospace !important;
  font-optical-sizing: auto;
  font-family: 400;
  font-style: normal;
}

.page-body {
  min-height: calc(100vh - 5.1rem);
  max-width: 100vw;
  overflow-x: hidden;
}

table td,
table th {
  vertical-align: middle;
  text-align: center;
}

table .file-icon {
  font-size: 1.45rem;
}

.file-details {
  font-size: 1.1em;
}

.file-details li {
  padding: 0.7rem 0;
}

.file-details .badge {
  font-size: 1.05em;
  padding: 0.8rem;
  background-color: #aaa !important;
}

/* RESET PARAGRAPHS */
p {
  margin: 0;
}

/* UPLOAD FORM*/
.upload__form {
  width: 100%;
  transition: 0.2s ease-out;
}

.upload__form:hover {
  box-shadow: var(--hover-border-shadow);
}

/* OVVERRIDE BUTTON COLORS*/
.btn {
  --bs-btn-bg: var(--new-color) !important;
  --bs-btn-border-color: var(--new-color) !important;
  --bs-btn-hover-border-color: var(--new-hover-color) !important;
  --bs-btn-hover-bg: var(--new-hover-color) !important;
}

.btn:hover,
.btn:focus-visible {
  /* box-shadow: var(--bs-btn-hover-border-shadow); */
}

/* CARD STYLING */
.folder-card__wrapper,
.file-card__wrapper {
  background-color: var(--bg-2);
  padding: 1rem;
  width: 13.5rem;
  color: #000;
  padding: 1rem;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
}
.folder-card__wrapper > div > i,
.file-card__wrapper > div > i {
  font-size: 2rem;
  font-weight: 100;
  color: #666;
  background-color: var(--main-darker);
  padding: 0.5rem;
  border-radius: 0.7rem;
}

.folder-card__wrapper > button,
.file-card__wrapper > button {
  color: #999;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 1.3rem;
  transition: color linear 0.2s;
  border: none;
  background-color: transparent;
  padding: 0;
}

.folder-card__wrapper > button:hover,
.file-card__wrapper > button:hover {
  color: #666;
}

.folder__wrapper {
  min-height: 4rem;
}

.folder__wrapper,
.file__wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

/* FOLDER OPENS ON HOVER */

.folder-card__wrapper:hover .bi-folder2-open {
  display: block;
}

.folder-card__wrapper:hover .bi-folder {
  display: none;
}

.folder-card__wrapper .bi-folder2-open {
  display: none;
}

.folder-card__wrapper .bi-folder {
  display: block;
}

.current-dir__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.current-dir__wrapper .route {
  text-decoration: none;
  color: #000;
}

.current-dir__wrapper .home-route {
  background-color: #eee;
  font-weight: 500;
  padding: 0.5rem 0.9rem;
  border-radius: 1.2rem;
}

/* FILE PREVIEW */
.file-preview__wrapper {
  width: 100%;
  display: flex;
  background-color: #fafafa;
}
.line-counter {
  width: 2rem;
  border-right: 0.2rem solid var(--new-color);
  color: var(--new-color);
  display: flex;
  flex-direction: column;
  text-align: right;
}
.line-counter .count {
  padding-right: 0.5rem;
}

.file-preview {
  width: 100%;
  min-height: 60vh;
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0;
  padding-left: 0.5rem;
}

.file-preview,
.line-counter {
  font-size: 1rem;
  padding-top: 0.2rem;
}

.input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  width: 1rem !important;
}

.theme-control > #btn-color {
  flex-grow: 1;
}

.theme-control > :not(#btn-color) {
  padding-inline: 1rem;
}

.btn-transparent,
.btn-transparent:hover {
  background-color: transparent;
  border: none;
  color: #000;
}

.btn-transparent:hover {
  color: #333;
}

.select-secondary {
  background-color: var(--new-color) !important;
  border-color: var(--new-color) !important;
  color: #fff;
}

.select-secondary:hover {
  background-color: var(--new-hover-color) !important;
  border-color: var(--new-hover-color) !important;
}
