<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              text: "#091c14",
              background: "#f5fcf9",
              primary: "#5db692",
              secondary: "#86e3be",
              accent: "#64e1af",
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer base {
        body {
          @apply p-8;
        }
        h1 {
          @apply text-3xl mb-2 text-primary;
        }
      }

      @layer utilities {
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="flex items-center gap-4 pb-4">
        <img class="aspect-square h-12 pb-1" src="/img/vue.svg" alt="V" />
        <h1>{{ title }}</h1>
      </div>
      <div class="flex">
        <div class="flex-1">
          <h2 class="mb-2">obiekty tablicy</h2>
          <ul>
            <li v-for="(val, key) in object">{{key}} - {{val}}</li>
          </ul>
        </div>
        <div class="flex-1">
          <h2 class="mb-2">wartości obiektów w tablicy</h2>
          <ul>
            <li v-for="(val, key, index) in object">{{index}} - {{key}} - {{val}}</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script>
    Vue.createApp({
      data() {
        return {
          title: "Dyrektywy VueJS",
          object: {
            a: 111,
            b: 222,
            c: 333,
          },
        };
      },
    }).mount("#app");
  </script>
</html>
