@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Inter:wght@200;400;600&family=Italianno&family=Open+Sans:wght@400;500&display=swap');
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gradient-sm: linear-gradient(90deg, #7047eb 0%, hsl(280, 80%, 60%) 95%);
  --gradient-lg: linear-gradient(90deg, #b447eb 0%, #57aeff 95%);
  --bg-color: #141414;
  --secondary: #1b1b1b;
  --light: #222;

  --text: rgba(255, 255, 255, 1);
  --text-secondary: rgba(240, 240, 240, .4);
}

body {
  background-color: var(--bg-color);
  margin: 0 !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding-inline: .7em;
  aspect-ratio: 1 / 1;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: 0.25s linear;
  color: var(--text-secondary);
}

button:hover {
  background-color: var(--secondary);
  color: var(--text);
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  width: 100vw;
  height: 100vh;
}

#addCardBtn {
  margin: 1rem;
}

/* card */
.card {
  position: absolute;
  background-color: var(--secondary);
  border: 1px solid transparent;
  border-radius: .5rem;
  border-color: #646cff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: .5s ease forwards fadeIn;
}

.card button {
  margin-left: auto;
  background-color: var(--secondary);
}

.card button:hover {
  background-color: var(--light);
}

.card__content {
  flex: 1;
  width: 100%;
  padding: .5rem 1rem;
  font-weight: 200;
  overflow: auto;
}
.fridge-count__wrapper{
  position: absolute;
  right: 5rem;
  top: 1rem;
  /* transform: translate(-100%, 0); */
}

/* modal */
.modal {
  width: 40vw;
  height: 30rem;
  background-color: var(--secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  transition: .2s ease;
  transition-property: opacity;
}

.modal>form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal>form input{
  position: relative;
  width: 20rem;
  height: 3rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  background-color: transparent;
  border: 2px solid transparent;
  padding-inline: 1rem;
  transition: .2s linear;
  text-align: center;
}
.modal>form input:hover {
  background-color: #222;
  cursor: pointer;
}

.modal>form input:focus {
  outline: none;
  cursor: text;
  border-color: hsla(280, 80%, 60%, 90%);
}

.modal>form button {
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
}

.modal>form h2 {
  margin-bottom: 1rem;
}

/* tinymce */
#editor {
  display: none !important;
}
.tox-tinymce {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(40rem, 70vw, 100rem);
  height: 30vw !important;
  z-index: 2000;
  overflow: visible;
}
.tox-tinymce::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  transition: .5s ease;
}

.tox-tinymce .tox-menubar > * {
  width: 3rem !important;
} 

.tox-promotion {
  display: none;
}


@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1; }
}